/* Style for price cards */

.container {
    background-color: aquamarine;
}

.price-card {
    border: 1px solid #ddd;
    padding: 20px;
    margin: 10px;
    width: 300px;
    float: right;
    height: 500px;
    text-align: center;
    background-color: #f5f5f5;
    border-radius: 10px;
    margin-right: 100px;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
}

.price {
    font-size: 36px;
    margin: 10px 0;
}

.features {
    list-style: none;
    padding: 0;
    margin: 20px;
}

.features li {
    margin-bottom: 10px;
}

.buy-button {
    background-color: #007BFF;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 10px;
}

/* Style for title cards */
.title-card {
    text-align: center;
    background-color: #007BFF;
    color: white;
    font-size: 28px;
    padding: 10px;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    margin: 0;
}









